@import '../../assets/css/fontawesome.css';
@import '../../assets/css/flex-slider.css';
@import '../../assets/css/templatemo-stand-blog.css';
@import '../../assets/css/owl.css';

.blog-information {
    font-size: medium;
}

.image-container {
    height: 500px;
    position: relative;
}

.blog-zoom-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}