<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <ngb-carousel *ngIf="showPictures()" >
                                    <ng-template ngbSlide *ngFor="let picture of blog.pictures">
                                        <div class="picsum-img-wrapper">
                                            <img [src]="picture.url" alt="" style="height: 500px; width: 100%;"/>
                                        </div>
                                    </ng-template>
                        
                                </ngb-carousel>

                                <!-- <div class="blog-thumb" *ngIf="showPictures()">
                                    <div class="main-banner header-text">
                                        <div class="container-fluid">
                                            <div class="slideshow-container">
                                                <div class="mySlides fade" *ngFor="let picture of blog.pictures">
                                                    <img [src] = "picture.url" style="width:100%" alt="">
                                                </div>
                                                <a class="prev" onclick="plusSlides(-1)"></a>
                                                <a class="next" onclick="plusSlides(1)"></a>
                                            </div>
                                            <br>
                                            <div style="text-align:center">
                                                <span class="dot" *ngFor="let picture of blog.pictures; let i = index;" 
                                                      onclick="currentSlide(i + 1)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="down-content">
                                    <span>{{blog.category}}</span>
                                    <h4>{{blog.title}}</h4>
                                    <ul class="post-info" *ngIf="blog.authorName != null">
                                        <li><a routerLink="" style="color: #f48840"> {{blog.authorName}} </a></li>
                                        <li><a href="#">{{blog.date}}</a></li>
                                    </ul>
                                    <p>{{blog.content}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-trash"></i></li>
                                                    <li><a (click)="deleteBlog(blog.blogId)">Delete</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-edit"></i></li>
                                                    <li><a (click)="editBlogDetails(blog.blogId)">Edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading" *ngIf="blog.comments != null">
                                    <h2>{{blog.comments.length}}</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <div class="row"
                                             *ngFor="let blogComment of blog.comments"
                                             style="margin-bottom: 30px; border-bottom: 1px solid #eee; padding-bottom: 30px;">
                                            <li>
                                                <div class="right-content">
                                                    <h4>{{blogComment.authorName}}</h4>
                                                    <span>{{blogComment.date}}</span>
                                                    <p>{{blogComment.content}}</p>
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-trash"></i></li>
                                                        <li><a (click)="deleteComment(blogComment.commentId)">Delete</a></li>
                                                        <!-- <li><a style="color: #f48840" (click)="deleteComment(blogComment.commentId)">Delete comment</a></li> -->
                                                    </ul>
                                                </div>
                
                                            </li>
                                        </div>
                
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm, blog.blogId)">
                                        <div class="row">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Comment Author</mat-label>
                                                <input matInput placeholder="Comment Author"
                                                [(ngModel)] = "comment.authorName"
                                                name="author">
                                            </mat-form-field>
                                            <div class="col-lg-12">

                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Content</mat-label>
                                                    <textarea matInput placeholder="Content"
                                                    [(ngModel)] = "comment.content"
                                                    name="content"></textarea>
                                                </mat-form-field>
                                                <!-- <fieldset>
                                                    <textarea name="content" rows="6" id="content" placeholder="Type your comment" th:field="*{content}"></textarea>
                                                </fieldset> -->
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button mat-stroked-button color="primary" type="submit" id="form-submit" class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
