<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <!-- <ngb-carousel *ngIf="showPictures()" >
                                    <ng-template ngbSlide *ngFor="let picture of blog.pictures">
                                        <div class="picsum-img-wrapper">
                                            <img [src]="picture.url" alt="Random first slide" />
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                        
                                </ngb-carousel> -->

                                <!-- <div class="blog-thumb" *ngIf="showPictures()">
                                    <div class="main-banner header-text">
                                        <div class="container-fluid">
                                            <div class="slideshow-container">
                                                <div class="mySlides fade" *ngFor="let picture of blog.pictures">
                                                    <img [src] = "picture.url" style="width:100%" alt="">
                                                </div>
                                                <a class="prev" onclick="plusSlides(-1)"></a>
                                                <a class="next" onclick="plusSlides(1)"></a>
                                            </div>
                                            <br>
                                            <div style="text-align:center">
                                                <span class="dot" *ngFor="let picture of blog.pictures; let i = index;" 
                                                      onclick="currentSlide(i + 1)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="down-content">
                                    <span>{{blog.category}}</span>
                                    <h4>{{blog.title}}</h4>
                                    <ul class="post-info" *ngIf="blog.authorName != null">
                                        <li><a routerLink="" style="color: #f48840"> {{blog.authorName}} </a></li>
                                        <li><a href="#">{{blog.date}}</a></li>
                                    </ul>
                                    <p>{{blog.content}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-trash"></i></li>
                                                    <li><a (click)="deleteBlog(blog.blogId)">Delete</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-edit"></i></li>
                                                    <li><a (click)="editBlogDetails(blog.blogId)">Edit</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2 th:text="|${blog.comments.size()} comments|"></h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <div class="row"
                                             *ngFor="blogComment : ${blog.comments}"
                                             style="margin-bottom: 30px; border-bottom: 1px solid #eee; padding-bottom: 30px;">
                                            <li>
                                                <div class="author-thumb">
                                                    <img th:src="@{${blogComment.user.picture}}" alt="">
                                                </div>
                                                <div class="right-content">
                                                    <h4 th:text="${blogComment.user.username}"></h4>
                                                    <span th:text="${blogComment.date}"></span>
                                                    <p th:text="${blogComment.content}"></p>
                                                    <ul class="post-tags" *ngIf="${#authentication.getName()} == ${blogComment.user.username} or ${#request.isUserInRole('ADMIN')}">
                                                        <li><i class="fa fa-trash"></i></li>
                                                        <li><a th:href="@{/comment/delete/{commentId}(commentId=${blogComment.commentId},blogId=${blog.blogId},username=${blogComment.user.username})}" style="color: #f48840">Delete comment</a></li>
                                                    </ul>
                                                </div>

                                            </li>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" action="#" method="post" th:object="${comment}"
                                          th:action="@{/comment/{blogId}/user/{username}(blogId=${blog.blogId}, username=${#authentication.getName()})}">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="content" rows="6" id="content" placeholder="Type your comment" th:field="*{content}"></textarea>
                                                    <label *ngIf="${#fields.hasErrors('content')}"
                                                           th:errors="*{content}">Error</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
